@page "/"
@rendermode InteractiveServer

@using Prism.Soundboard.Web.Services

@inject IAudioService AudioService;

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

Welcome to your new app.

<div class="container py-4">
    <h2 class="mb-3">Button Grid</h2>

    <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 g-3">

        @foreach (var entry in AudioService.ListOfFiles)
        {
            <div class="col">
                <button type="button" class="btn btn-primary w-100" @onclick="() => AudioService.PlayFile(entry.Key)">@entry.Key</button>
            </div>
        }
    </div>
</div>


