[*.cs]

# SA1629: Documentation text should end with a period
dotnet_diagnostic.SA1629.severity = suggestion

# SA1515: Single-line comment should be preceded by blank line
dotnet_diagnostic.SA1515.severity = suggestion
